@model IEnumerable<WebsiteHotrohoctap.Models.LessonContent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	
    <a asp-action="Create" class="btn btn-primary rounded-pill">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle text-center">
                <td>@item.ContentType</td>
                <td>@item.ContentData</td>
                <td>@item.Lesson?.LessonName</td>
                <td>
                    <div class="d-flex justify-content-center gap-2 flex-wrap">
                        <a asp-action="Update" asp-route-id="@item.LessonID" class="btn btn-sm btn-outline-warning rounded-pill">Sửa</a>
                        <a asp-action="Details" asp-route-id="@item.LessonID" class="btn btn-sm btn-outline-info rounded-pill">Chi tiết</a>
                        <a asp-action="Delete" asp-route-id="@item.LessonID" class="btn btn-sm btn-outline-danger rounded-pill">Xóa</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
